.partnerDataList {
  padding: 1rem;
}


.partnerItem {
  width: 100%;
  min-height: 6rem;
  background-color: #fff;
  border-radius: 24px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.partnerTitle {
  margin-bottom: 1rem;
}

.partnerContent {
  text-align: center;
}