.currentClientProgram {
  width: 100%;
}

.clientProgramInfo {
  width: 100%;
  margin-top: 1rem;
}

.programInfoTitle {
  width: 100%;
  height: 3rem;
  background-color: #E6EDF5;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programHotelDesc {
  width: 100%;
  min-height: 8rem;
  border-radius: 24px;
  padding: 1rem 1.3rem;
}

.hotelItem {
  min-height: 8rem;
  border-radius: 24px;
  padding: 1rem 1.3rem;
  background-color: #fff;
  margin: .7rem 0;
}

.hotelContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.dataItem {
  margin: .5rem 0;
}

.hotelRooms {
  width: 100%;
  margin-top: 1rem;
}

.roomsHeader {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.roomsHeader > img {
  width: 2.4rem;
  cursor: pointer;
}
.roomsList {
  width: 100%;
}

.roomItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.roomDataItem {
  text-align: center;
}