.createProgram {
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem 1rem;
}

.createProgramData {
  position: relative;
  width: 80%;
  display: block;
}

.sectionCreateData {
  margin-top: 2rem;
}

.createdField {
  margin-top: 2rem;
}

.programDates {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-top: 2rem;
}


.saveBtn {
  position: absolute;
  margin-top: 2rem;
  right: 0;
}